.elementor-35 .elementor-element.elementor-element-00090c6:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-00090c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F2F2;}.elementor-35 .elementor-element.elementor-element-00090c6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:25px 0px 25px 0px;}.elementor-35 .elementor-element.elementor-element-00090c6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-35 .elementor-element.elementor-element-c6d5e0a{--additional-information-display:block;}.elementor-35 .elementor-element.elementor-element-c6d5e0a .woocommerce-checkout{--place-order-title-alignment:stretch;--purchase-button-width:100%;}.elementor-35 .elementor-element.elementor-element-c6d5e0a .woocommerce #payment #place_order{font-family:"Poppins", Sans-serif;font-size:18px;text-transform:uppercase;}.elementor-35 .elementor-element.elementor-element-c6d5e0a #payment #place_order{background-color:#3F2682E6;}.elementor-35 .elementor-element.elementor-element-c6d5e0a #payment #place_order:hover{background-color:#3F2682E6;}.elementor-35 .elementor-element.elementor-element-e208215{padding:20px 0px 20px 0px;}/* Start custom CSS for woocommerce-checkout-page, class: .elementor-element-c6d5e0a */.elementor-35 .elementor-element.elementor-element-c6d5e0a .cart-subtotal {
    display:none;
}

.elementor-35 .elementor-element.elementor-element-c6d5e0a #place_order {
            font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #3F2682E6;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 2px 1px rgb(158 130 197 / 50%);
    padding: 15px 40px 15px 40px;
    transition: 0.2s ease-in-out;
}

.elementor-35 .elementor-element.elementor-element-c6d5e0a #place_order:hover {
    transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-00090c6 */.elementor-35 .elementor-element.elementor-element-00090c6 .woocommerce-additional-fields, .elementor-35 .elementor-element.elementor-element-00090c6 .e-coupon-box
{
    display: none;
}/* End custom CSS */